* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato/Lato-Light.ttf);
    font-weight: 300;
}
.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /*width: 1140px;*/
}
.navigation-bar {
    width: 100%;
    max-width: 1920px;
    min-height: 75px;
    background-color: #222222;
    display: flex;
}
.header-left {
    display: flex;

    /*padding-top: 18px;*/
    /*outline: 1px solid red;*/
}
.mini-header-left {
    display: inline-block;
    padding-right: 41px;
    padding-top: 18px;
}
.mini-header-left:last-child {
    padding-top: 28px;
}
.header-right {
    margin-left: 796px;

    display: flex;
    position: relative;
}
.mini-header-right {
    display: inline-block;
    padding-right: 33px;
    padding-top: 26px;
}
.mini-header-right:first-child {
    padding-top: 30px;
}

.img-on-mini-header {
    position: absolute;
    top: 18px;
    left: 1100px;
}
.img-on-mini-5 {
    position: absolute;
    top: 23px;
    left: 1107px;
}
.centre-part {
    background: #f1e4e6;
    width: 100%;
    max-width: 1920px;
    min-height: 764px;
    display: flex;
}
.menu-hover-block {
    display: none;
    z-index: 999;
    position: absolute;
    box-sizing: border-box;
    right: -198%;
    top: 75px;
    width: 232px;
    height: 764px;
    padding-left: 34px;
    padding-top: 37px;
    padding-bottom: 157px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(58, 56, 56, 0.5);
}
.drop-menu:hover .menu-hover-block {
    display: block;
}
.drop-menu-img {
    fill:#E8E8E8;
}
.drop-menu:hover .drop-menu-img{
    fill: #f16d7f;
}
.menu-header-mini {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #f16d7f;
    margin-bottom: 12px;
}
.menu-header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
    margin-bottom: 24px;
}
.menu-link {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #6f6e6e;
}
.last-link-menu {
    padding-bottom: 8px;
}
.menu-header-list {
    list-style-type: none;
}
.menu-header-list-mini {
    padding-left: 21px;
    margin-bottom: 11px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #6f6e6e;
}

.img-part {
    display: flex;
    width: 570px;
}
.img-centre {
    position: absolute;
    left: -207px;
    /*padding-left: 100px;*/
}
.text-part {
    width: 50%;
    padding-top: 290px;
    padding-left: 320px;
}
.text-centre {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    position: relative;

    color: #222222;
}
.text-centre::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    position: absolute;
    top: 5px;
    left: -28px;
}
.text-centre-mini {
    font-family: "Lato";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
}
.text-centre-mini-last {
    font-family: "Lato";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    color: #f16d7f;
    display: inline-block;
}
.stick-centre {
    position: absolute;
    top: 370px;
    left: 1075px;
}
.offer-part {
    width: 100%;
    position: relative;
    max-width: 1920px;
    min-height: 2121px;
    background-color: #f8f3f4;
}
.list-cards-top {
    padding-top: 65px;
    /*padding-left: 390px;*/
    list-style-type: none;
    display: flex;
    padding-bottom: 30px;
}
.mini-cards-top {
    display: inline-block;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    /*height: 260px;*/
}

.text-women-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding-top: 10px;
    position: absolute;
    align-self: center;
    /*padding-left: 103px;*/
    padding-top: 105px;
}
.text-women-2 {
    color: #f16d7f;
    align-self: center;
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    position: absolute;
    padding-top: 124px;
}
.text-men-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
    position: absolute;
    padding-top: 105px;
    color: #ffffff;
}
.text-men-2 {
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    align-self: center;
    color: #f16d7f;
    position: absolute;
    padding-top: 124px;
}
.text-kids-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
    color: #ffffff;
    position: absolute;
    padding-top: 105px;
}
.text-kids-2 {
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    align-self: center;
    color: #f16d7f;
    position: absolute;
    padding-top: 124px;
}
.big-img-offer {
    /*padding-left: 390px;*/
    display: flex;
    flex-direction: column;
    width: 1140px;
}
.big-text-card-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
    color: #ffffff;
    position: absolute;
    padding-top: 65px;
}
.big-text-card-2 {
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    align-self: center;
    color: #f16d7f;
    position: absolute;
    padding-top: 85px;
}
.text-items {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
}
.text-new-items {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    color: #222222;
    align-self: center;
}
.product-main-part {
    height: 2300px;
}
.text-new-items-mini {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #9f9f9f;
    align-self: center;
    margin-top: 6px;
}
.bread-link {
    display: flex;
    list-style-type: none;

}
.list-cards-bottom-inline {
    margin: 0 auto;
}
.new-cards-bottom {
    padding-top: 48px;
}
.new-cards-bottom:last-child {
    padding-top: 665px;
}
.list-cards-bottom {
    width: 1140px;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.cards-bottom-mini {
    /*background: #f8f8f8;*/
    height: 581px;
    width: 360px;
    margin-bottom: 30px;
    /*position: relative;*/
}
.cards-bottom-mini:hover .img-hover {
    filter: brightness(30%);
}
.img-hover-card {
    position: relative;
}
.hover-button-card {
    display: none;
    position: absolute;
    left: 111px;
    top: 188px;
    width: 138px;
    height: 43px;
    border: 1px solid #ffffff;
    background: transparent;
}
.mini-image-button-hover {
    position: absolute;
    top: 10px;
    left: 13px;
}
.hover-button-card-text {
    display: block;
    top: 12px;
    right: 15px;
    position: absolute;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #ffffff;
}
.cards-bottom-mini:hover .hover-button-card {
    display: block;
}
.card-bottom/*,
.card-bottom-2,
.card-bottom-3,
.card-bottom-4,
.card-bottom-5,
.card-bottom-6*/ {
    height: 581px;
    text-decoration: none;
    position: absolute;
    /*top: 0px;*/
    background: #f8f8f8;
    /*padding-left: 18px;*/
}
.last-card {
    margin-bottom: 48px;
}
.text-card-bottom {
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 12px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    color: #000000;
}
.text-card-bottom-mini {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 18px;
    color: #5d5d5d;
    padding-bottom: 18px;
}
.text-card-bottom-price {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    padding-left: 18px;
    padding-bottom: 20px;
}
.part-bottom-button {
    display: flex;
    height: 47px;
}
.bottom-button {
    width: 211px;
    height: 47px;
    border: 1px solid #ff6a6a;
    background-color: #fff;
    margin-top: 48px;
    margin: 0 auto;
}
.bottom-button:hover {
    background-color: #f16d7f;
}
.bottom-button-text:hover {
    color: #fff;
}
.bottom-button:active {
    background-color: #fff;
}
.bottom-button-text:active {
    color: #f16d7f;
}
.bottom-button-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #f26376;
}
.part-advantages {
    /*margin-top: 95px;*/
    background-color: #222224;
    width: 100%;
    max-width: 1920px;
    height: 341px;
    /*padding-top: 105px;*/
}
.advantages-list {
    list-style-type: none;
    display: flex;
}
.advantages-mini {
    width: 360px;
    height: 134px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 103px;
}
.advantages-img {
    margin: 0 auto;
}
.header-advantages {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */

    color: #fbfbfb;
    margin: 0 auto;
    margin-bottom: 16px;
}
.advantages-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #5d5d5d;
    margin: 0 auto;
}
.footer-part {
    width: 100%;
    max-width: 1920px;
    height: 527px;
}
.top-part-footer {
    width: 100%;
    max-width: 1920px;
    height: 448px;
    background-repeat: no-repeat;
    background-image: url(image/photosubscribe.jpg);
    background-size: cover;
}
.left-part-footer {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding-top: 97px;
    margin-right: 223px;
}
.img-part-footer {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    background-repeat: no-repeat;
    background-image: url("image/Intersect.png");
}
.left-part-footer-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #222224;
    margin-top: 30px;
}
.right-part-footer {
    margin-top: 150px;
    width: 557px;
    height: 142px;
    /*outline: 1px solid red;*/
}
.top-right-part-footer {
    /*outline: 1px solid black;*/
    height: 61px;
    margin-bottom: 32px;
}
.big-right-footer-text {
    display: block;
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
.mini-right-footer-text {
    font-family: "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
.bottom-right-part-footer {
    display: flex;
}
.input-btn-footer {
    height: 49px;
    margin: 0 auto;
    position: relative;
}
.input-right-part-footer {
    margin-right: 0;
    position: absolute;
    left: -174px;
    width: 256px;
    transition: width 1s ease;
    height: 49px;
    background: #e1e1e1;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
    /*padding-top: 7px;*/
    box-sizing: border-box;
}
.bottom-right-footer-btn {
    position: absolute;
    left: 82px;
    width: 100px;
    height: 49px;
    border: none;
    background: #f16d7f;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.button-footer-text {
    display: block;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #ffffff;
}
.bottom-part-footer {
    width: 100%;
    max-width: 1920px;
    height: 79px;
    background: #222224;
}
.bottom-footer-text {
    width: 332px;
    margin-right: 655px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #fbfbfb;
    padding-top: 30px;
}
.soc-net-link {
    width: 160px;
    height: 32px;
    padding-top: 24px;
}
.link-list {
    list-style-type: none;
    display: flex;
}
.link-list-mini {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: #fff;
}
.image-link-footer {
    padding-top: 8px;
    padding-left: 11px;
}
.icon-footer-link {
    width: 15px;
    height: 15px;
    padding-top: 8px;
    padding-left: 8px;
}
.soc-net-link-mini {
}
.link-list-mini:hover {
    background-color: #f16d7f;
}
.link-list-mini:hover .icon-footer-link {
    fill: #f1e4e6;
}
.icon-footer-link {
    fill: #000000;
}
.link-list-mini:active .icon-footer-link {
    fill: #000000;
}
.link-list-mini:active {
    background-color: #fff;
}
.main-part {
    height: 2684px;
}
.news-part {
    width: 100%;
    max-width: 1920px;
    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    align-items: center;
}
.news-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #f16d7f;
}
.link-section {
    margin-left: 737px;
    padding-top: 6px;
}
.link-section-mini {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #636363;
}
.link-section-mini:last-child {
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    color: #f16d7f;
}
.filter-part-offer {
    height: 133px;
    padding-top: 51px;
    display: flex;
}
#select-size {
    border: none;
    font-family: "Lato";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    color: #6f6e6e;
}
.choose-part {
    position: relative;
}
.link-offer-mini:hover .size-block {
    visibility: visible;
}
.size-block {
    width: 79px;
    height: 103px;
    background-color: #fff;
    /*outline: 1 solid red;*/
    position: absolute;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header-filter-mini {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
.link-size {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #6f6e6e;
}
.filter-part-drop {
    display: flex;
    width: 360px;
    height: 531px;
}
.filter-part-drop:hover .basic-filter-text {
    color: #f16d7f;
}
.size-list-mini {
    padding-left: 31px;
    padding-bottom: 6px;
}
.size-list {
    list-style-type: none;
    padding-top: 7px;
}
input:focus,
button:focus {
    outline: none;
}
input:focus-visible,
button:focus-visible {
    outline: 2px solid #f16d7f;
}

.list-size {
    width: 80px;
    border: none;
    background-color: transparent;
}
.header-advantages-inline {
    margin-top:19px;
}
.list-size-btn-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color: #6f6e6e;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}
.header-advantages-inline-second {
    margin-top: 25px
}
.container-inline-index {
    display: block; 
}
.container-inline {
    height: 341px;
}
.under-switching {
    margin-left: 30px;  
}
.advantages-img-inline {
    margin-bottom: 28px;
}
.list-size-btn-title svg {
    fill: #6f6e6e;
    position: absolute;
    top: 40%;
    left: 60%;
}
.list-size-btn-title:hover {
    color: #f16d7f;
}
.list-size-btn-title:hover svg {
    fill: currentColor;
}
.list-size-btn-title:active {
    color: black;
}
.list-size-btn-title:active svg {
    fill: currentColor;
}
#switch {
    display: none;
}
#switch:checked ~ .list-size-wrp {
    display: flex;
}
.list-size-wrp {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
}
.list-size-item {
    display: none;
}
.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png");
    background-size: cover;
    background-position: center;
}
.list-size-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6f6e6e;
}
.list-size-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #ebebeb;
    position: absolute;
    top: 1px;
    left: -23.5px;
}
.filter-offer-image {
    margin-left: 10px;
    padding-top: 4px;
}
.filter-offer-list {
    margin-left: 392px;
    list-style-type: none;
    display: flex;
}
input:focus,
button:focus {
    outline: none;
}
input:focus-visible,
button:focus-visible {
    outline: 2px solid #f16d7f;
}
#switch-filter {
    display: none;
}
#switch-filter:checked ~ .filter-list {
    display: block;
}
.filter {
    width: 360px;
    padding: 0px 16px 16px 16px;
    box-sizing: border-box;
    z-index: 99;
    position: absolute;
    background: #f8f3f4;
    /*box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);*/
}
.filter:hover {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-btn {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #000000;
    text-align: left;
}

.filter-btn span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: uppercase;
}
.filter-btn svg {
    margin: 0 0 0 11px;
    fill: currentColor;
}
.filter-btn:hover {
    color: #f16d7f;
}
.filter-btn:active {
    color: #222224;
}
.new-cards-bottom {
    padding-top: 0;
}
.filter-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.filter-list-item {
    width: 100%;
    margin: 0 0 18px 0;
    padding: 11px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    /* border-bottom: 1px solid #EBEBEB; */
    position: relative;
}
.filter-list-item-link {
    display: block;
    text-transform: uppercase;
    color: #ef5b70;
    text-decoration: none;
}
.filter-list-item-link-bottom {
    display: block;
    text-transform: uppercase;
    color: #6F6E6E;
    text-decoration: none;
}
.filter-list-item-link::before,
.filter-list-item-link-bottom::before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #ef5b70;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 2;
}
.filter-list-item-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 1;
}
.filter-list-item-link:hover {
    color: red;
}
.filter-list-item-link:active {
    color: pink;
}
.filter-sublist {
    margin: 24px 0 0 0;
    padding: 0 0 0 7px;
    box-sizing: border-box;
    list-style: none;
}
.filter-sublist-item {
    margin: 0 0 11px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
}
.filter-sublist-item:last-child {
    margin: 0 0 24px 0;
}
.filter-sublist-item a {
    color: #6f6e6e;
    text-decoration: none;
}
.filter-sublist-item:hover a {
    color: #ef5b70;
}
.filter-sublist-item:active a {
    color: #000;
}
.filter-offer-list-mini {
    margin-right: 28px;
}
.basic-filter-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #6f6e6e;
}
.link-offer-mini {
    text-decoration: none;
    display: flex;
}
.switching-page {
    margin: 0 auto;
    width: 284px;
    height: 44px;
    border: 1px solid #ebebeb;
    margin-bottom: 96px;
    display: flex;
    padding-left: 16px;
}
.switching-page-img {
    padding-top: 15px;
}
.switching-list {
    display: flex;
    list-style-type: none;
    padding-top: 12px;
    padding-left: 17px;
}
.switching-list-block {
    width: 202px;
}
.switching-list-mini {
    padding-right: 20px;
}
.switching-list-mini:last-child {
    padding-right: 0;
}
.switching-page-img:last-child {
    padding-right: 16px;
}
.choose-switching-text {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}
.switching-list-text {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #c4c4c4;
}
.product-centre-part {
    width: 100%;
    position: relative;
    max-width: 1920px;
    height: 777px;
    background-color: #f7f7f7;
}
.product-centre-part-btn {
    width: 47px;
    height: 47px;
    border: none;
    position: absolute;
    top: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-centre-part-btn-2 {
    right: 0px;
}
.arrow-product {
    fill: #000;
}
.product-centre-part-btn:hover .arrow-product {
    fill: #f16d7f;
}
.product-img {
    margin: 0 auto;
}
.block-price {
    position: absolute;
    top: 922px;
    left: 0;
    right: 0;
    text-align: center;
}
.block-price-mini {
    height: 601px;
    width: 1140px;
    background-color: #fff;
    /*outline: 1px solid red;*/
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    box-sizing: border-box;
    margin: 0 auto;
}
.top-price-header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #f16d7f;
    margin-bottom: 12px;
    /*margin: 0 auto;*/
}
.top-price-stick {
    display: block;
    margin: 0 auto;
    width: 63px;
    height: 3px;
    background: #f16d7f;
    box-sizing: border-box;
    border: none;
}
.centre-price-header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    color: #4d4d4d;
    /*margin: 0 auto;*/
    padding-top: 12px;
}
.centre-price-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #5e5e5e;
    padding-top: 48px;
}
.price-value {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #ef5b70;
    padding-top: 32px;
    margin-bottom: 65px;
}
.line-price {
    margin: 0 auto;
    /*padding-top: 65px;*/
    width: 641px;
    height: 0px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;

}
.price-list {
    padding-top: 65px;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
}
.price-list-mini {
    margin-right: 42px;
    position: relative;
}
.price-checkbox {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #6f6e6e;
}
.checkbox-img {
    position: absolute;
    top: 6px;
    left: 118px;
}
.buttom-button-price {
    height: 48px;
    position: relative;
    width: 212px;
    margin: 0 auto;
    margin-top: 48px;
    background-color: #fff;
    border: 1px solid #ff6a6a;
}
.button-price-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #f26376;
}
.button-price-image {
    position: absolute;
    top: 15px;
    left: 23px;
}
.cart-main {
    min-height: 1146px;
}
.cart-centre-part {
    min-height: 998px;
    width: 100%;
    max-width: 1920px;
    background: #f7f7f7;
    padding-top: 96px;
    box-sizing: border-box;
}

.centre-cart-list {
    list-style-type: none;
    min-height: 652px;
    max-width: 652px;
    margin-right: 129px;
    margin-bottom: 72px;
}
.centre-cart-list-mini {
    display: flex;
    position: relative;
}
.cart-cancel {
    position: absolute;
    top: 28px;
    right: 22px;
}
.cart-cancel:hover {
    transform: rotate(180deg);
    transition-duration: 1s;
}
.centre-cart-list-img:hover {
    transform: scale(1.2);
    transition-duration: 0.7s;
}
.centre-cart-list-mini:first-child {
    padding-bottom: 40px;
}
.centre-cart-list-mini:last-child {
    margin-top: 72px;
}
.centre-cart-list-content {
    width: 390px;
    background-color: #fff;
    padding-top: 22px;
    padding-left: 31px;
    box-sizing: border-box;
}
.centre-cart-list-header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #222222;
    display: block;
    margin-bottom: 42px;
}
.centre-cart-specifications {
    list-style-type: none;
}
.centre-cart-specifications-mini {
    padding-bottom: 6px;
    box-sizing: border-box;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #575757;
}
.centre-cart-specifications-mini:last-child {
    padding-bottom: 0px;
}
.centre-cart-other-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #f16d7f;
}
.amount-cart {
    /*padding-right: 25px;
    box-sizing: border-box;*/
}
.centre-cart-button {
    margin-left: 24px;
    text-decoration: none;
    width: 43px;
    height: 24px;
    padding-left: 16px;
    padding-top: 1px;
    padding-right: 16px;
    padding-bottom: 1px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #656565;
    border: 1px solid #eaeaea;
}
.centre-cart-bottom-button:first-child {
    margin-right: 193px;
}
.centre-cart-bottom-button {
    width: 234px;
    height: 49px;
    background: transparent;
    border: 1px solid #a4a4a4;
}
.centre-cart-bottom-button-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #000000;
}
.centre-cart-right {
    padding-top: 17px;
    width: 359px;
}
.centre-cart-right-header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    display: block;
    margin-bottom: 21px;
}
.centre-cart-right-list {
    list-style-type: none;
}
.centre-cart-right-list-mini {
    margin-bottom: 21px;
}
.centre-cart-right-list-mini:last-child {
    margin-bottom: 0px;
}
.centre-cart-right-input {
    border: 1px solid #a4a4a4;
    padding-top: 12.5px;
    padding-left: 16px;
    padding-bottom: 15px;
    box-sizing: border-box;
    width: 359px;
}
.centre-cart-right-button {
    border: 1px solid #a4a4a4;
    background: transparent;
    width: 100px;
    height: 34px;
}
.centre-cart-right-button-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;

    color: #4a4a4a;
}
.centre-cart-cheque {
    width: 360px;
    height: 214px;
    background: #f5f3f3;
    margin-top: 57px;
    padding-top: 39px;
}
.centre-cart-cheque-mini {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #4a4a4a;
    margin-bottom: 12px;
    margin-left: 218px;
}
.centre-cart-cheque-other-text {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    color: #f16d7f;
}
.centre-cart-cheque-big {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    margin-bottom: 21px;
    margin-left: 153px;
}
.centre-cart-cheque-line {
    height: 1px;
    width: 275px;
    background: #e2e2e2;
    margin: 0 auto;
    margin-bottom: 17px;
}
.centre-cart-cheque-button {
    height: 50px;
    width: 273px;
    background: #f16d7f;
    border: none;
    margin: 0 auto;
    display: block;
}
.centre-cart-cheque-button-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
}
.reg-news-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #F16D7F;
    text-transform: uppercase;
}
.registration-main-part {
    min-height: 823px;
}
.reg-centre-part {
    display: flex;
    padding-top: 64px;
    box-sizing: border-box;
}
.reg-centre-part-left {
    width: 360px;
    /*border: 1px solid orange;*/
    height: 611px;
}
.reg-centre-left-header-top {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    margin-bottom: 20px;
}
.reg-centre-left-input-list {
    list-style-type: none;
}
.reg-left-input {
    padding-top: 13px;
    padding-left: 17px;
    padding-bottom: 16px;
    width: 100%;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
}
.reg-centre-left-input-list-mini:first-child {
    margin-bottom: 21px;
}
.reg-left-checkbox {
    border-radius: 50%;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    margin-top: 31px;
    margin-right: 10px;
}
.reg-left-checkbox-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;

    color: #000000;
}
.reg-left-checkbox:last-child {
    margin-left: 20px;
}
.reg-left-checkbox-list {
    display: flex;
    list-style-type: none;
}
.reg-left-checkbox-list-mini {
    margin-right: 20px;
}
.reg-centre-left-header-bottom {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
    margin-top: 33px;
    margin-bottom: 20px;
}
.reg-centre-left-input-list-bottom {
    list-style-type: none;
}
.reg-left-input-bottom {
    padding-top: 13px;
    padding-left: 17px;
    padding-bottom: 16px;
    width: 100%;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
}
.reg-centre-left-input-list-mini:first-child {
    margin-bottom: 21px;
}
.reg-left-bottom-text {
    margin-top: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    color: #B1B1B1;
}
.reg-left-bottom-button {
    width: 167px;
    height: 50px;
    background: #F16D7F;
    border: none;
    margin-top: 39px;
    /*padding-top: 16px;*/
    padding-right: 66px;
    box-sizing: border-box;
    position: relative;
}
.reg-left-bottom-button-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;

}
.reg-left-bottom-button-image {
    position: absolute;
    z-index: 999;
    right: 23%;
    top: 41.18%;
}
.reg-centre-part-left {
    margin-right: 128px;
}
.reg-centre-part-right {
    /*border: 1px solid green;*/
    width: 652px;
    height: 610px;
}
.filter-mobile {
    display: none;
}
.reg-right-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
    margin-bottom: 22px;

}
.reg-right-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}
.reg-right-list {
    list-style-type: none;
}
.reg-right-list-mini {
    background-position: 0 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-image: url("image/Vector\(21\).svg");
}
.reg-right-list-mini {
    margin-bottom: 16px;
}
.reg-right-list-mini:first-child {
    margin-top: 21px;
}
.link-section {
    margin-left: 333px;
}
.link-section-product {
    margin-left: 737px;
}

@media (max-width: 1140px) and (min-width:768px) {
    body {
        overflow-x: hidden;
    }
    .header-right {
        margin-left: 424px;
    }
    .img-on-mini-header{
        left: 729px;
    }
    .img-on-mini-5 {
        left: 736px;
    }
    .container {
        width: 768px;
    }
    .centre-part {
        min-height: 368px;
    }
    .img-centre {
        height: 368px;
        left: -18px;
    }
    .text-part {
        padding-top: 138px;
        padding-left: 0px;
    }
    .text-centre-mini-last,
    .text-centre-mini {
        font-size: 24px;
        line-height: 28px;
    }
    .list-cards-top {
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .mini-cards-top {
        margin-right: 20px;
        width: 232px;
        height: 167px;
    }
    .text-part-img {
        width: 232px;
        height: 167px; 
    }
    .text-women-1 {
        padding-top: 57px;
    }
    .text-women-2 {
        padding-top: 79px;
    }
    .text-men-1 {
        padding-top: 57px;
    }
    .text-men-2 {
        padding-top: 79px;
    }
    .text-kids-1 {
        padding-top: 57px;
    }
    .text-kids-2 {
        padding-top: 79px;
    }
    .text-part-img-big {
        width: 734px;
        height: 116px;
    }
    .big-text-card-1 {
        padding-top: 35px;
    }
    .big-text-card-2 {
        padding-top: 55px;
    }
    .big-img-offer {
        width: 734px;
        padding-left: 10px;
    }
    .text-items {
        margin-top: 154px;
    }
    .list-cards-bottom {
        max-width: 768px;
        margin-top: 73px;
    }
    .cards-bottom-mini {
        margin-right: 16px;
        margin-bottom: 17px;
    }
    .part-bottom-button {
        padding-bottom: 62px;
        margin-top: 32px;
    }
    .part-advantages  {
        height: 610px;
        /*max-width: 768px;*/
    }
    .advantages-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto
    }
    .advantages-mini {
        padding-top: 48px;
    }
    .container-footer-index {
        flex-direction: column;
    }
    .left-part-footer {
        margin: 0 auto;
        padding-top: 53px;
    }
    .right-part-footer {
        padding-top: 48px;
        margin: 0 auto;
    }
    .top-part-footer {
        height: 610px;
    }
    .bottom-footer-text {
        margin-left: 32px;
        margin-right: 305px;
        width: 251px;
    }
    .filter-part-offer {
        padding-top: 24px;
        height: 10px;
    }
    .main-part {
        min-height: 4000px;
    }
    .catalog-container-footer {
        flex-direction: column;
    }
    .product-main-part {
        height: 2970px;
    }
    .product-container-footer {
        flex-direction: column;
    }
    .link-section-product {
        margin-left: 333px;
    }
    .cart-container-top {
        flex-direction: column;
    }
    .centre-cart-list {
        margin: 0 auto;
    }
    .centre-cart-right {
        display: flex;
        margin-left: 56px;
        margin-bottom: 128px;
    }
    .centre-cart-cheque {
        margin-top: 0px;
        margin-left: 15px;
    }
    .cart-container-footer {
        flex-direction: column;
    }
    .reg-centre-part-left {
        margin-right: 22px;
        margin-left: 16px;
    }
    .reg-centre-part {
        padding-top: 40px;
    }
    .registration-container-footer {
        flex-direction: column;
    }
    .reg-right-text {
        font-size: 22px;
    }
    .reg-news-text {
        margin-left: 16px;
    }
}
@media (min-width: 375px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 375px;
    }
    .header-right {
        margin-left: 159px;
    }
    .mini-header-right:last-child,
    .mini-header-right:nth-child(2) {
        display: none;
    }
    .img-centre {
        display: none;
    }
    .centre-part {
        min-height: 363px;
    }
    .img-part {
        display: none;
    }
    .text-part {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 148px;
        padding-left: 0px;
    }
    .text-centre-mini {
        font-size: 24px;
    }
    .text-centre {
        font-size: 38px;
        line-height: 45px;
    }
    .text-centre::before {
        height: 61px;
    }
    .list-cards-top {
        padding-top: 64px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .text-part-img {
        width: 343px;
        height: 247px;
    }
    .mini-cards-top {
        width: 343px;
        height: 247px;
        margin-bottom: 32px;
    }
    /*.text-women-1 {
        margin-top: 98px;
    }
    .text-women-2 {
        margin-top: 79px;
    }
    .text-men-1 {
        margin-top: 98px;
    }
    .text-men-2 {
        margin-top: 79px;
    }
    .text-kids-1 {
        margin-top: 98px;
    }
    .text-kids-2 {
        margin-top: 79px;
    }*/
    .text-part-img-big {
        width: 343px;
        height: 111px;
    }
    .big-text-card-1 {
        padding-top: 30px;
    }
    .big-text-card-2 {
        padding-top: 49px;
    }
    .big-img-offer {
        width: 343px;
        height: 111px;
    }
    .list-cards-bottom {
        width: 375px;
    }
    .part-bottom-button {
        margin-top: 41px;
        padding-bottom: 96px;
    }
    .footer-part {
        max-width: 100%;
    }
    .right-part-footer {
        width: 271px;
        height: 54px;
    }
    .mini-right-footer-text {
        font-size: 14px;
    }
    .input-right-part-footer {
        width: 245px;
    }
    .bottom-right-footer-btn {
        left: 71px;
        width: 95px;
    }
    .bottom-part-footer {
        height: 143px;
        max-width: 100%;
    }
    .bottom-footer-text {
        width: 251px;
        height: 19px;
        margin-right: 0px;
        padding-top: 115px;
        margin: 0 auto;
    }
    .bottom-part-footer {
        position: relative;
    }
    .soc-net-link {
        position: absolute;
        top: 43px;
        left: 114px;
        padding-top: 0px;
    }
    .main-part {
        min-height: 6691px;
    }
    .news-text {
        margin: 24px 101px;
    }
    .catalog-container-top {
        flex-direction: column;
    }
    .link-section {
        margin: 0 auto;
    }
    .filter-offer-list {
        margin-left: 64px;
        position: absolute;
        z-index: 999;
    }
    .filter {
        display: none;
    }
    .filter-mobile {
        display: block;
        margin-left: 8px;
    }
    .img-on-mini-header {
        display: none;
    }
    .img-on-mini-5 {
        display: none;
    }
    .advantages-mini {
        padding-top: 48px;
        padding-right: 0px;


    }
    .advantages-list {
        flex-direction: column;

    }
    .part-advantages {
        height: 610px;
    }
    .left-part-footer {
        padding-top: 54px;
    }
    .container-footer-index {
        flex-direction: column;
    }
    .right-part-footer {
        box-sizing: border-box;
        padding-top: 59px;
        margin: 0 auto;
    }
    .top-part-footer {
        height: 550px;
    }
    .catalog-container-footer {
        flex-direction: column;
    }
    .link-section-product {
        margin: 0 auto;
    }
    .product-container-top {
        flex-direction: column;
    }
    .product-img {
        width: 374px;
        height: 454px;
    }
    .product-centre-part {
        padding-top: 85px;
        height: 624px;
        box-sizing: border-box;
    }
    .product-centre-part-btn {
        top: 288px;
        z-index: 999;
    }
    .block-price {
        left: -220px;
    }
    .list-cards-bottom-inline {
        margin-top: 129px;
    }
    .product-main-part {
        height: 3369px;
    }
    .product-container-footer {
        flex-direction: column;
    }
    .cart-centre-part {
        padding-top: 49px;
    }
    .centre-cart-list-content {
        width: 214px;
        padding-top: 13px;
        padding-left: 17px;
    }
    .centre-cart-list-header {
        margin-bottom: 25px;
    }
    .centre-cart-list-header {
        font-size: 16px;
        line-height: 19px;
    }
    .centre-cart-list-img {
        width: 143px;
        height: 188px;
    }
    .cart-cancel {
        top: 14px;
        right: 39px;
    }
    .centre-cart-list-mini:first-child {
        padding-bottom: 32px;
    }
    .centre-cart-list {
        margin-right: 0px;
        min-height: 1px;
    }
    .cart-container-top {
        flex-direction: column;
    }
    .centre-cart-list-mini:last-child {
        margin-top: 30px;
    }
    .centre-cart-bottom-button:first-child {
        margin-right: 9.78px;
    }
    .centre-cart-bottom-button {
        width: 174px;
        height: 32px;
    }
    .cart-container-footer {
        flex-direction: column;
    }
    .reg-news-text {
        margin: 0 auto;
    }
    .registartion-container-top {
        flex-direction: column;
    }
    .reg-right-text {
        font-size: 16px;
        line-height: 19px;
        width: 357px;
    }
    .reg-right-list-mini {
        font-size: 16px;
        line-height: 19px;
    }
    .registration-main-part {
        height: 1211px;
    }
    .registration-container-footer {
        flex-direction: column;
    }
}