* {
    margin: 0;
    padding: 0;
}
.navigation-bar {
    width: 100%;
    max-width: 1920px;
    min-height: 75px;
    background-color: #222222;
    display: flex;
}
.header-left {
    display: flex;
    margin-left: 231px;
    /*padding-top: 18px;*/
    /*outline: 1px solid red;*/
}
.mini-header-left {
    display: inline-block;
    padding-right: 41px;
    padding-top: 18px;
}
.mini-header-left:last-child {
    padding-top: 28px;
}
.header-right {
    margin-left: 1204px;
    display: flex;
}
.mini-header-right {
    display: inline-block;
    padding-right: 33px;
    padding-top: 26px;
}
.mini-header-right:first-child {
    padding-top: 30px;
}
.img-on-mini-header {
    position: absolute;
    top: 18px;
    left: 1737px;
}
.img-on-mini-5 {
    position: absolute;
    top: 23px;
    left: 1744px;
}
.centre-part {
    background: #f1e4e6;
    width: 100%;
    max-width: 1920px;
    min-height: 764px;
    display: flex;
}
.img-part {
    width: 50%;
}
.text-part {
    width: 50%;
    padding-top: 290px;
    padding-left: 300px;
}
.stick-centre {
    position: absolute;
    top: 355px;
    left: 1075px;
}
.offer-part {
    width: 100%;
    max-width: 1920px;
    min-height: 2121px;
    background-color: #e5e5e5;
}
.list-cards-top {
    padding-top: 65px;
    padding-left: 390px;
    list-style-type: none;
    display: flex;
    padding-bottom: 30px;
}
.mini-cards-top {
    display: inline-block;
    margin-right: 30px;
    /*height: 260px;*/
}

#first-card {
    display: flex;
    flex-direction: column;
}
.text-women-1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding-top: 10px;
    position: absolute;
    align-self: center;
    /*padding-left: 103px;*/
    padding-top: 105px;
}
.text-women-2 {
    color: #f16d7f;
    align-self: center;
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    position: absolute;
    padding-top: 124px;
}
.text-men {
    position: absolute;
    left: 905px;
    top: 1010px;
}
.text-kids {
    position: absolute;
    top: 1010px;
    left: 1300px;
}
.big-img-offer {
    padding-left: 390px;
}
.big-text-card {
    position: absolute;
    top: 1259px;
    left: 875px;
}
